<div id="<%= dom_id tako %>">
  <p>
    <strong>Name:</strong>
    <%= tako.name %>
  </p>
  <p>
    <strong>Kind:</strong>
    <%= tako.kind %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= tako.age %>
  </p>
</div>
